
body {
    background-color: darkslateblue;
}
h1 {
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
hr {
    color: gray;
}
p {
    text-align: center;
}
a:link {
    color:  white;
    font-size: large;
    font-weight: bold;
}
a:visited {
    color: gray;
    font-size: large;
    font-weight: bold;
}
img {
    display: block;
    margin: 0 auto;
    height: 500px;
    width: auto;
}

